Intermediate/
Platforms/
DerivedDataCache/
Saved/
Build/

# this file contains duplicates because P4 under windows needs backslash paths
     
# Visual Studio detritus
*.suo
*.sdf
*.opensdf
*.VC.db
*.db-wal
*.db-shm
*.ipch
*.uproject
     
# UE4 cached stuff/build products
Unreal/DerivedDataCache
Unreal\DerivedDataCache
Unreal/Intermediate
Unreal\Intermediate
Unreal/Binaries
Unreal\Binaries
#/Build
Unreal/Saved
Unreal\Saved
     
# at the root of the project
DerivedDataCache
Intermediate
Binaries
Saved
*.sln
#Plugins
     
EditorOpenOrder.log
     
Unreal/*.sln
Unreal\*.sln
     
/Plugins/*/Binaries
\Plugins\*\Binaries
/Plugins/*/Intermediate
\Plugins\*\Intermediate
     
*.reapeaks
*.skb
SoundStage.git/config
SoundStage.git/description
SoundStage.git/HEAD
SoundStage.git/hooks/applypatch-msg.sample
SoundStage.git/hooks/commit-msg.sample
SoundStage.git/hooks/fsmonitor-watchman.sample
SoundStage.git/hooks/post-update.sample
SoundStage.git/hooks/pre-applypatch.sample
SoundStage.git/hooks/pre-commit.sample
SoundStage.git/hooks/pre-merge-commit.sample
SoundStage.git/hooks/pre-push.sample
SoundStage.git/hooks/pre-rebase.sample
SoundStage.git/hooks/pre-receive.sample
SoundStage.git/hooks/prepare-commit-msg.sample
SoundStage.git/hooks/update.sample
SoundStage.git/info/exclude
